{% extends 'base.html.twig' %}
{% block body %}

	<h1>Ajouter une competence</h1>
	{{ form_start(form) }}
	{{ form_row(form.nom,{'attr':{'label':'nom du competence ','placeholder':'nom du competence'}}) }}
	{{ form_row(form.niveau,{'attr':{'label':'niveau','placeholder':'niveau'}}) }}
	<button type="submit" class="btn btn-success btn-lg">{% if editmode  %} edit  {% else %}Add{% endif  %}</button>
	<a class="btn btn-outline-danger btn-lg" href="{{ path('competence') }}">back</a>

	{{ form_end(form) }}
{% endblock %}
