{% extends 'base.html.twig' %}
{% block body %}


									<h2 >
										<b>01.</b>
										Compétences Informatiques 
										<a type="button" class="btn btn-warning {% if not app.user  %} disabled {% endif  %} " href="{{path('competence_add')}}"  >Ajouter une competence</a></h2>


										{% for competence in competences %}
											<div class="col-12 pb-2">
												<h4 class="progress-title">{{ competence.nom }}</h4>
												<div>
													<div class="progress col-9">
														<div class="progress-bar" role="progressbar" style="width: {{ competence.niveau }}%;" aria-valuenow="{{ competence.niveau }}" aria-valuemin="0" aria-valuemax="100">
															<span>{{ competence.niveau }}%</span>
														</div>
													</div>
													<a type="button" class="btn btn-warning {% if not app.user  %} disabled {% endif  %} " href="/competence/{{ competence.id }}/edit"  >modifier </a>	
				
													
												
												</div>
												
											</div>
										{% endfor %}

{% endblock %}
