{% extends 'base.html.twig' %}
{% block body %}

									<h2>
										<b>02.</b>
										Experiences Professionnelles & Projets
										<a type="button" class="btn btn-warning {% if not app.user  %} disabled {% endif  %} " href="{{path('experience_add')}}" >Ajouter une experience</a>
								</h2> 
								

												{% for experience in experiences %}
													<div class="row mb-0 align-items-center justify-content-between p-2 p-md-4">
														<div class="col-md-8">
															<h5 class="mb-0">{{ experience.title }}</h5>
															<span>{{ experience.lieu }}</span>
															<span>{{ experience.description }}</span>
														</div>
														<div class="col-md-4 text-md-right small">
															{{ experience.duree }}
														</div>
													</div>
													<a type="button" class="btn btn-warning {% if not app.user  %} disabled {% endif  %} " href="/experience/{{ experience.id }}/edit ">modifier</a>
												{% endfor %}

{% endblock %}
