{% extends 'base.html.twig' %}
{% block body %}

	
									<h2 >
										<b>02.</b>
									formation <a type="button" class="btn btn-warning {% if not app.user  %} disabled {% endif  %} " href="{{path('formation_add')}}" >Ajouter une formation</a></h2>
								

										{% for formation in formations %}
											<div class="col-6">
												<div class="bordered rising p-2 p-md-4">
													<h5 class="mb-0">{{ formation.title }}</h5>
													<span class="d-block text-primary mb-3">{{ formation.univ }}</span>
													<span class="text-muted">{{ formation.anneeScolaire}}</span>
												</div>
												<a type="button" class="btn btn-warning {% if not app.user  %} disabled {% endif  %} " href="/formation/{{ formation.id }}/edit" >modifier</a>
											</div>
										{% endfor %}


{% endblock %}
